﻿@using System.Web.UI.WebControls
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Calendar APP">
    <meta name="author" content="Jakub Borkowicz">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Content/bootstrap-editable.css" rel="stylesheet">*@

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</head>

<body data-feedly-mini="yes">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Calendar", "MyCalendars", "User", null, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.Title.Equals("My calendars"))
                    {
                        <li class="active">@Html.ActionLink("My calendars", "MyCalendars", "User")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("My calendars", "MyCalendars", "User")</li>
                    }
                    @if (ViewBag.Title.Equals("New calendar"))
                    {
                        <li class="active">@Html.ActionLink("New calendar", "Create", "Calendar")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("New calendar", "Create", "Calendar")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        @RenderBody()

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    @*<script src="/Scripts/bootstrap-editable.min.js"></script>*@
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <div id="feedly-mini" title="feedly Mini tookit"></div>
</body>
</html>
