﻿@using System.Web.UI.WebControls
@model global::Calendar.Models.User

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

@if (TempData["RegisteredUser"] != null)
{
        <div class="alert alert-success" role="alert">Successfully registered user @TempData["RegisteredUser"]</div>
}
@using (Html.BeginForm("Login", "User", null, FormMethod.Post, new { style = "max-width:330px;margin:0 auto" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>Please sign in</h2>
    <div>
        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Login" })
        @Html.ValidationMessageFor(model => model.Login)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", type = "Password" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In" />
    </p>
}
