﻿@model Calendar.ViewModels.AvailableCalendarsViewModel
@{
    ViewBag.Title = "My calendars";
}

<h2>Choose available calendar</h2>

<table>
    <tr>
        <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Choose owned calendar
            <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (Calendar.Models.Calendar item in Model.MyCalendars)
                    {
                        <li>@Html.ActionLink(item.Name, "Show", "Calendar", new { id = item.Id, selectedDate = DateTime.Now }, null)</li>
                    }
                </ul>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Choose shared calenadar
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (Calendar.Models.Calendar item in Model.SharedCalendars)
                    {
                        <li>@Html.ActionLink(item.Name, "Show", "Calendar", new { id = item.Id, selectedDate = DateTime.Now }, null)</li>
                    }
                </ul>
            </div>
        </td>
    </tr>
</table>
<h2>Create new calendar</h2>

@using (Html.BeginForm("Create", "Calendar", null, FormMethod.Get))
{
    <p>
        <input class="btn btn-primary" type="submit" value="Create new calendar" />
    </p>
}

