﻿@model Calendar.Models.Event
@{
    ViewBag.Title = "Create event";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#AllDay').change(function () {
            if ($(this).is(":checked")) {
                $('#EndTime').val($('#StartTime').val());
                $('#EndTime').prop('disabled', true);
            } else {
                $('#EndTime').prop('disabled', false);
            }
        });
    });
</script>

@using (Html.BeginForm("Create", "Event", null, FormMethod.Post, new { style = "max-width:330px;margin:0 auto" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>Create event</h2>
    @Html.HiddenFor(model => model.CalendarId)
    <div>
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Title" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    
    <div>
        @Html.Label("Choose event start time:")
        <input class="form-control" type="datetime-local" data-val="true" data-val-date="The field StartTime must be a date." data-val-required="Field StartTime is required." id="StartTime" name="StartTime"  value="@Model.StartTime.ToString("yyyy-MM-ddTHH:mm")" min="1999-01-01T00:00"/>
        @Html.ValidationMessageFor(model => model.StartTime)
    </div>
    <div>
        @if (Model.AllDay)
        {
        @Html.Label("Choose event end time:")
            <input class="form-control" type="datetime-local" data-val="true" data-val-date="The field EndTime must be a date." data-val-required="Pole EndTime jest wymagane." id="EndTime" name="EndTime"  value="@Model.EndTime.ToString("yyyy-MM-ddTHH:mm")" min="1999-01-01T00:00" disabled="disabled"/>
            
        }
        else
        {
        @Html.Label("Choose event end time:")
            <input class="form-control" type="datetime-local" data-val="true" data-val-date="The field EndTime must be a date." data-val-required="Pole EndTime jest wymagane." id="EndTime" name="EndTime"  value="@Model.EndTime.ToString("yyyy-MM-ddTHH:mm")" min="1999-01-01T00:00"/>
  
        }
        @Html.ValidationMessageFor(model => model.EndTime)
    </div>
    <div>
        <label>
            @Html.CheckBoxFor(model => model.AllDay)
            All day event
        </label>
        @Html.ValidationMessageFor(model => model.AllDay)
    </div>
    <p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />
    </p>
}
