﻿@using Calendar.Models
@model global::Calendar.ViewModels.EventDetailsViewModel
@{
    ViewBag.Title = "Event details";
}

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Error! Event not found</div>
}
else
{
    <h2>Event details</h2>
    <p style="word-wrap: break-word">Title: @Model.Event.Title</p>
    <p style="word-wrap: break-word">Description: @Model.Event.Description</p>
    <p>Event start: @Model.Event.StartTime.ToString("yyyy-MM-dd HH:mm")</p>
    if (Model.Event.AllDay)
    {
    <p>Event end: All day event</p>
    }
    else
    {
    <p>Event end: @Model.Event.EndTime.ToString("yyyy-MM-dd HH:mm")</p>
    }

    if (Model.AccessLevel == AccessLevel.Owner || Model.AccessLevel == AccessLevel.Write)
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Event.Id }, new { @class = "btn btn-primary", type = "button", style = "width: 100px; margin-right: 10px; float: left" })
        using (Html.BeginForm("Delete", "Event", null, FormMethod.Post))
        {
    @Html.AntiForgeryToken()
            <p>
                <input hidden="hidden" name="id" value="@Model.Event.Id"/>
                <input class="btn btn-danger" type="submit" value="Delete" style="width: 100px; float: left" />
            </p>
        }
    }

}