﻿@using System.Globalization
@using Calendar.Models
@model global::Calendar.ViewModels.CalendarViewModel

@{
    int daysInMonth = DateTime.DaysInMonth(Model.SelectedDate.Year, Model.SelectedDate.Month);
    int firstDay = (int)Model.SelectedDate.DayOfWeek;
    int i = 1;
}
<style>
    table,  td
    {
        border: 1px solid @Model.Calendar.Color;
    }

    td
    {
        text-align: left;
        vertical-align: top;
    }

    .add-event {
        float: right;
        width: 50%;
    }
    .event {
        width: 100%;
    }
</style>
<table style="width: 100%; height: 500px; table-layout: fixed">
    <tr style="height: 30px">
        <td style="text-align: center; background-color: @Model.Calendar.Color">@Html.ActionLink("<<", "Show", new { id = Model.Calendar.Id, selectedDate = Model.SelectedDate.AddMonths(-1) })</td>
        <td style="text-align: center; background-color: @Model.Calendar.Color" colspan="5">@Model.SelectedDate.ToString("MMM", CultureInfo.InvariantCulture) @Model.SelectedDate.Year</td>
        <td style="text-align: center; background-color: @Model.Calendar.Color">@Html.ActionLink(">>", "Show", new { id = Model.Calendar.Id, selectedDate = Model.SelectedDate.AddMonths(1) })</td>
    </tr>
    <tr style="height: 20px">
        <td><b>Sun</b></td>
        <td><b>Mon</b></td>
        <td><b>Tue</b></td>
        <td><b>Wed</b></td>
        <td><b>Thu</b></td>
        <td><b>Fri</b></td>
        <td><b>Sat</b></td>
    </tr>
    @while (i <= daysInMonth)
    {
        <tr>
            @for (int j = 0; j < 7; j++)
            {
                <td>
                    @if (i == 1)
                    {
                        if (j == firstDay)
                        {
                        @i
                            if (Model.AccessLevel == AccessLevel.Owner || Model.AccessLevel == AccessLevel.Write)
                            {
                        <text>@Html.ActionLink("Add event", "Create", "Event", new { id = Model.Calendar.Id, startDate = new DateTime(Model.SelectedDate.Year, Model.SelectedDate.Month, i) }, new { @class = "btn btn-xs btn-success add-event", type = "button" })</text>
                            }
                            foreach (Event item in Model.Calendar.GetDateEvents(new DateTime(Model.SelectedDate.Year, Model.SelectedDate.Month, i)))
                            {
                        @Html.ActionLink(item.Title, "Details", "Event", new { id = item.Id }, new { @class = "btn btn-xs btn-info event", type = "button" });
                            }
                            i++;
                        }
                    }
                    else if (i <= daysInMonth)
                    {
                        
                        @i
                        if (Model.AccessLevel == AccessLevel.Owner || Model.AccessLevel == AccessLevel.Write)
                        {
                        <text>@Html.ActionLink("Add event", "Create", "Event", new { id = Model.Calendar.Id, startDate = new DateTime(Model.SelectedDate.Year, Model.SelectedDate.Month, i) }, new { @class = "btn btn-xs btn-success add-event", type = "button" })</text>
                        }
                        foreach (Event item in Model.Calendar.GetDateEvents(new DateTime(Model.SelectedDate.Year, Model.SelectedDate.Month, i)))
                        {
                        @Html.ActionLink(item.Title, "Details", "Event", new { id = item.Id }, new { @class = "btn btn-xs btn-info event", type = "button" });
                        }
                        i++;
                    }
                </td>
            }
        </tr>
    }
</table>
