﻿@using Calendar.Models
@model global::Calendar.ViewModels.CalendarViewModel

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="shareModalLabel">Share calendar</h4>
            </div>
            @using (Html.BeginForm("Share", "Calendar", null, FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <input hidden="hidden" name="id" value="@Model.Calendar.Id"/>
                        <input hidden="hidden" name="selectedDate" value="@Model.SelectedDate"/>
                        <label for="UserId" class="control-label">User:</label>
                        <select class="form-control" name="UserId" id="UserId">
                            @foreach (User item in Model.UsersToShare)
                            {
                                <option value="@item.Id">@item.Login</option>
                            }
                        </select>
                        <label for="access" class="control-label">Access level:</label>
                        <select class="form-control" name="access" id="access">
                            <option value="@AccessLevel.Read">Read</option>
                            <option value="@AccessLevel.Write">Write</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }

        </div>
    </div>
</div>
