﻿@model Calendar.Models.Calendar
@{
    ViewBag.Title = "New calendar";
}

@using (Html.BeginForm("Create", "Calendar", null, FormMethod.Post, new { style = "max-width:330px;margin:0 auto" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>Create new calendar</h2>
    <div>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div>
        @Html.Label("Choose calendar color:")
        @Html.TextBoxFor(model => model.Color, new { @class = "form-control", placeholder = "Color", type = "color" })
        @Html.ValidationMessageFor(model => model.Color)
    </div>

    <p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />
    </p>
}