﻿@using Calendar.Models
@model global::Calendar.ViewModels.CalendarViewModel

@{
    ViewBag.Title = "Selected calendar";
}

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Error! Calendar not found</div>
}
else
{
    if (TempData["SharedCalendar"] != null)
    {
    <div class="alert alert-success" role="alert">Successfully shared calendar with user "@TempData["SharedCalendar"]"</div>
    }
    if (TempData["RemovedAccess"] != null)
    {
    <div class="alert alert-success" role="alert">Successfully removed access to calendar for user "@TempData["RemovedAccess"]"</div>
    }
    if (TempData["CreatedEvent"] != null)
    {
    <div class="alert alert-success" role="alert">Successfully created an event "@TempData["CreatedEvent"]"</div>
    }
    if (TempData["DeletedEvent"] != null)
    {
    <div class="alert alert-success" role="alert">Successfully deleted an event "@TempData["DeletedEvent"]"</div>
    }
    if (TempData["ModifiedEvent"] != null)
    {
    <div class="alert alert-success" role="alert">Successfully modified an event "@TempData["ModifiedEvent"]"</div>
    }
    <h2 style="float: left">Calendar name:@Model.Calendar.Name
        @if (Model.AccessLevel == AccessLevel.Owner && Model.UsersToShare.Any())
        {
            <button class="btn btn-xs btn-success" type="button" data-toggle = "modal", data-target = "#shareModal">Share</button>
        }
        @if (Model.AccessLevel == AccessLevel.Owner && Model.UsersShared.Any())
        {
            <button class="btn btn-xs btn-danger" type="button" data-toggle = "modal", data-target = "#removeAccessModal">Remove access</button>
        }
    </h2>
    
        switch (Model.AccessLevel)
        {
            case AccessLevel.Owner:
                {
    <h2 style="float: right">Access: Owner</h2>
                    break;
                }
            case AccessLevel.Read:
                {
    <h2 style="float: right">Access: Read</h2>
                    break;
                }
            case AccessLevel.Write:
                {
    <h2 style="float: right">Access: Write</h2>
                    break;
                }
        }

    
    
    @Html.Partial("_CalendarPartial")

        if (Model.AccessLevel == AccessLevel.Owner)
        {
    @Html.Partial("_SharePartial")
    @Html.Partial("_RemoveAccessPartial")
        }
}